<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <script src="app.js"></script>

  <title>Advance Consulting</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/">
            <h1><span>A</span>dvance<span>C</span>onsulting</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li>
              <a href="#services" data-after="Service">Services</a>
            </li>
            <li>
              <a href="#projects" data-after="Projects">Events</a>
            </li>
            <li>
              <a href="#about" data-after="About">About</a>
            </li>
            <li>
              <a href="#contact" data-after="Contact">Contact</a>
            </li>
            <li> <a type="button" class=" login-btn" data-toggle="modal" data-target="#loginModal">
                Login
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>