<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<%-include("dashboardpartials/dheader"); -%>


  <div class="count-container">

    <div class="counting" id="email">
      <a href="/allusers">



        <h5> Total number of Users: 5

      </a>
    </div>

    <div class="counting" id="post">
      <a href="/alleventsforadminonly">

   
        <h5> Total number of Events:2
        </h5>
      </a>
    </div>

    <!-- <div class="counting" id="message">
      <a href="/admin/allmessages">
        <h5> Total number of Messages: 1 </h5>
      </a>
    </div> -->



  </div>